:root {
  --vp-c-green: #0c9dff;
  --vp-c-brand-dark: #0c23ff;
  --vp-c-bg-alt: #eeeeee; // 侧边栏
}

.dark {
  --vp-c-bg-alt: #242424; // 深色模式侧边栏
}

#app header.VPNav {
  &:has(.VPNavScreen) {
    &:before {
      opacity: 1;
    }
    border-bottom: 1px solid var(--vp-c-gutter);
  }
  &:before {
    z-index: -1;
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .25;
    transition: .125s;
    background-color: var(--vp-nav-bg-color);
  }
  position: sticky;

  top: 0;

  backdrop-filter: blur(10px);
  background-image: radial-gradient(
    var(--vp-nav-bg-color) 1px,
    transparent 1px
  );
  background-size: 3px 3px;
  border-bottom: 1px solid transparent;
  transition: .125s;
  // background-color: var(--vp-nav-bg-color) !important;
}

@media (min-width: 960px) {
  #app .VPNavBar.fill:not(.has-sidebar) {
    &:before {
      opacity: 0.5;
      background-color: var(--vp-nav-bg-color);
    }
    background-color: transparent;
    border-bottom-color: var(--vp-c-gutter);

    box-shadow: 0 1px 16px 4px var(--vp-c-gutter);
  }

  #app div.VPNavBar.has-sidebar .content-body,
  #app div.VPNavBar.fill .content-body {
    background: transparent;
  }
}

.vp-doc {
  // 代码片段下拉菜单
  details {
    padding: 10px !important;
    margin: 10px 0 !important;

    summary {
      text-align: center;
      cursor: pointer;
      user-select: none;
      margin: 0 !important;

      &:hover {
        transition: 0.5s;
        color: #2d5af1;
      }
    }

    &::before {
      content: "" !important;
    }
  }

  .f-dropdown {
    ul {
      list-style: none;
    }
  }

  ul {
    list-style: disc;
    padding-left: 0;

    li {
      margin-top: 0;
    }
  }

  .f-up-load__file-list {
    margin: 0;
  }

  ul.f-list {
    list-style: none;
  }

  // 移除表格默认样式
  table {
    margin: 0;

    th,
    tr,
    td {
      border: none;
      background: none;
    }
    tr:nth-child(2n) {
      background: none;
    }
  }

  // 表格
  .vp-table__container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    table {
      width: 100%;
      display: inline-table;
    }

    th,
    tr:nth-child(2n) {
      background-color: transparent;
    }

    td,
    th {
      text-align: center;
      font-size: 15px;
      border-bottom: 1px solid #eee;
    }
  }

  p.f-text {
    line-height: 1;
  }
}

// 顶部 logo
.VPNavBarTitle.has-sidebar {
  border: none;
}

// 左侧选项链接
.VPSidebarGroup {
  .VPLink.link.link {
    margin: 0;
    padding: 5px 18px;
    transition: 0.4s;
    padding-left: 14px !important;
  }

  .VPLink.link.link.active {
    background: lighten(#2d5af1, 39%);
    box-sizing: border-box;

    .link-text {
      font-weight: 600;
    }
  }
}

// 菜单栏
.VPSidebar.open {
  z-index: 99999;
}

// 滚动条
::-webkit-scrollbar {
  width: 7px;
}

// 滚动滑块
::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 6px;
}

// 滚动条高度
::-webkit-scrollbar {
  height: 8px;
  cursor: pointer;
}

.VPNavScreen {
  height: 100vh;
}
